<h1> Editando a tarefa: {{this.title}} </h1>
<form action="/task/edit" method="post">
  <input type="hidden" name="id" value={{this.id}} />
  <div class="form-control">
    <label for="title "> Título: </label>
    <input type="text" name="title" placeholder="O que voce deseja fazer?" />
  </div>
  <div class="form-control">
    <label for="description "> Descrição: </label>
    <textarea
      name="description"
      placeholder="descreva a tarefa..."
      id=""
    >{{this.description}}</textarea>
  </div>
  <input type="submit" value="Editar" />
</form>