<h1> criação de task </h1>
<form action="/task/add" method="post">
  <div class="form-control">
    <label for="title "> Título: </label>
    <input type="text" name="title" placeholder="O que voce deseja fazer?" />
  </div>
  <div class="form-control">
    <label for="description "> Descrição: </label>
    <textarea
      name="description"
      placeholder="descreva a tarefa..."
      id=""
    ></textarea>
  </div>
  <input type="submit" value="Criar" />
</form>